{% extends '_base.html' %}
{% block content %}
<h1>Welcome to flasktaskr </h1>
<h3>Please login to access your tasklist</h3>

<form class="form-signin" method="POST" action='/' >
{{ form.csrf_token }}
<p>
{{form.name(placeholder="Name")}}
<span class="error">
{%if form.name.errors%}
{%for error in form.name.errors%}
{{error}}
{% endfor %}
{% endif %}
</span>
</p>
<p>
{{ form.password(placeholder="password") }}
<span class="error">
  {%if form.password.errors%}
  {%for error in form.password.errors%}
  {{error}}
  {% endfor %}
  {% endif %}
</span>
</p>
<button class="btn btn-sm btn-success" type="submit">Sign in</button>
<br>
<br>
<p><em>Need an account? </em><a href="/register">Signup!!</a></p>
</form>
{% endblock %}
